@import '../../visual_identity/general_styles/color.scss';
@import '../../visual_identity/general_styles/buttons.scss';
@import '../../visual_identity/general_styles/flex_boxes.scss';

.feedback-page {
  background: $lightGreen;
  height: 80vh;

  & header {
    @include flexCenter(column);
    justify-content: space-between;
    width: 100vw;
    height: 20vh;
    background-color: $darkBlue;
    position: fixed;
    top: 0;
    color: white;

    & .player-stats-container {
      @include flexCenter(row);
      width: 90%;
      justify-content: flex-start;
    }

    & .player-stats {
      @include flexCenter(column);
      margin: 0;
      margin-left: 2%;
      height: 100%;
      & p, h3 {
        margin: 0;
      }
    }
  }

  & .feedback-container {
    @include flexCenter(column);
    margin-top: 20vh;
    height: 80vh;
    text-align: center;

    & .feedback-main-container {
      @include flexCenter(column);
      margin-top: 5vh;
      margin-bottom: 5vh;
      align-items: stretch;

      & .feedback-score {
        @include flexCenter(row);

        & .feedback-text {
          @include flexCenter(column);
  
          & .feedback-total {
            @include flexCenter(column);
            border-radius: 100%;
            background-color: $darkBlue;
            color: white;
            height: 22%;
            width: 22%;
            margin: 10px;
            padding: 1vw;
            text-align: left;
          }
        }
      }
    }

    & .feedback-button {
      @include flexCenter(row);

      button {
        @include btnDarkBlue();
        transition: none;
      }
    }

  }
}
