@import '../../visual_identity//general_styles/color.scss';

.settings-container {
  height: 100%;

  & .feedback-message {
    background-color: $darkBlue;
    text-align: center;
    border-radius: 5%;
    color: white;
  }
}