.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
.header-container {
  display: flex;
  
}
.gravatar-image {
  width: 70%;
  height: 70%;
  border-radius: 50%;
  padding: 20px;
  padding-right: 30px;
}
.player-name {
  font-size: 70px;
  padding: 20px;
}
.score {
  font-size: 40px;
  padding: 20px;
}