.container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.container-game {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 100px;
}

.timer {
  color: red;
  font-weight: 600;
  padding-top: 40px;
}
