.class-game {
    margin: 25% auto;
    width: 50%;
    background: linear-gradient(rgb(80, 79, 79), #1b43bd);
    color: #f8f8f8;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    height: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 5%;
    
}
