.container-header {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  justify-content: space-between;
  padding: 5px;
}

.container-game {
  background-image: url('./trivia.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.picture {
  border-radius: 10px;
}

.nextbutton {
  min-height: 100px;
  
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 400px;
}

.question {
  width: 50%;
}

button {
  width: 300px;
}
