.btn-sm {
  background: darkcyan;
  border: solid .25rem #000b7e;
  font-size: 3rem;
  white-space: normal;
  word-wrap: break-word;
}

.btn-sm:hover {
  background: #00802dfd; 
}

.btn-next{ 
  margin-top: 3%;
  width: 50%;
}

.option {
  margin-top: 3%;
  width: 60%;
}
