.feedback-wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  align-items: center;
}

.feedback-wrapper .green {
  background-color: rgb(93, 156, 33);
  border: 0;
  border-radius: 12px;
  color: rgb(244, 247, 208);
  font-size: 1.2em;
  font-weight: 600;
  margin-top: 75px;
  padding: 15px 25px;
}

.feedback-wrapper .green:hover {
  background-color: rgb(118, 182, 58);
}

.feedback-wrapper .green:active {
  background-color: rgb(118, 218, 25);
}
