.header {
  background-color: rgb(20, 30, 50);
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 6px 6px 9px;
}

.header span {
  display: inline-block;
}

.header-gravatar {
  border-radius: 50%;
  margin: 0 15px 0 0;
}

.header-name {
  color: rgb(235, 245, 255);
  font-family: monospace;
  font-size: 2.5em;
  letter-spacing: 0.2em;
}

.header-score {
  background-color: rgb(201, 204, 207);
  border-radius: 12px;
  font-family: monospace;
  font-size: 2.4em;
  margin: 0 20px 0;
  padding: 10px 22px 6px;
  width: 150px;
  text-align: right;

}
