.results {
  font-size: 1.2em;
  margin: 25px 0;
}

.correct-answers {
  background-color: rgb(34, 40, 36);
  border-radius: 8px;
  color: whitesmoke;
  margin: 0 10px;
  padding: 4px 10px;
}

.score {
  background-color: rgb(220, 230, 230);
  border-radius: 8px;
  color: rgb(14, 20, 16);
  display: inline-block;
  font-size: 1.3em;
  font-style: italic;
  font-weight: 600;
  margin: 0 10px;
  padding: 6px;
  text-align: center;
  width: 100px;
}
